* {
  padding: 0;
  margin: 0;
}
.container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#inputText {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border-color: black;
  border: 2px solid;
  margin: 12px 0;
}
#targetlangs {
  border-radius: 3px;
  padding: 6px;
  margin: 6px;
  border-color: black;
  border: 2px solid;
}
#Translatebtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#Translatebtn:hover {
  background-color: #45a049;
}
#outputText {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border-color: black;
  border: 2px solid;
  margin: 12px 0;
}
#outputText:disabled {
  background-color: #f0f0f0;
}
#outputText {
  background-color: #f0f0f0;
}
#copyBtn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#copyBtn:hover {
  background-color: #005f5f;
}
#speakBtn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#speakBtn:hover {
  background-color: #d32f2f;
}
