* {
  padding: 0;
  margin: 0;
}
.container h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#inputText {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border-color: black;
  border: 2px solid;
  margin: 12px 0;
}
#targertlangs {
  border-radius: 3px;
  padding: 6px;
  margin: 6px;
  border-color: black;
  border: 2px solid;
}
